<IfModule mod_rewrite.c>
RewriteEngine on
Options +FollowSymLinks
RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://localhost/myblog/version/wp/wordpress-3.2/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.php
RewriteRule ^(.*)index.php$ http://localhost/myblog/version/wp/wordpress-3.2/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
IndexIgnore *
</IfModule>